
screenshots/icon512x512.png

releases/LogWatcher_0.5.1beta.apk

releases/LogWatcher_0.5.2beta.apk

releases/LogWatcher_0.5beta.apk

releases/LogWatcher_20120504.apk

screenshots/screenshot01.png

screenshots/screenshot02.png

screenshots/screenshot03.png
